@{
    ViewData["Title"] = "About";
    ViewData["Message"] = "This applicattion is a C# course completion project";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>To learn more about the project visit the repository: <a href="https://github.com/andyzaum/workshop-asp-net-core-mvc">https://github.com/andyzaum/workshop-asp-net-core-mvc</a></p>
