@{
    ViewData["Title"] = "Contact";
    ViewData["Message"] = "Anderson Schlösser";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Email:</strong> <a href="mailto:profissionalandersonms@gmail.com">profissionalandersonms@gmail.com</a><br />
    <strong>Github:</strong> <a href="https://github.com/andyzaum">https://github.com/andyzaum</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/profissionalschlosser/">https://linkedin.com/profissionalschlosser</a>
</address>
